*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  
}

.navbar{
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    box-shadow: 1px 1px 5px rgb(112, 112, 112);
}

.navbar .left{
   
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar .left img{
    
    height: 70px;
}

.navbar .right{
   
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #214184;
 }

 .navbar .right div{
    color: #214184;
 }


 .navbar .right div i{
      transform: rotate(-45deg);
 } 

a{
    text-decoration: none;
}

.section1{
    padding: 30px;
}
.section1 .heading{
    font-size: 35px;
    font-weight: 700;
}


.section1 .list{
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.section1 .list i{
    transform: rotate(-45deg);
}

.footer{
     margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    font-weight: 700;
    color: #22b24c;
}
